ul{
    /*background-color: black;*/
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

header ul{
    display: flex;
    margin: 0;
}


header li:hover{
    font-size: 17px;
    text-decoration: underline;
}
